<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->


<link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png?v=GvbMwwzKnW">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png?v=GvbMwwzKnW">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png?v=GvbMwwzKnW">
<link rel="manifest" href="assets/images/site.webmanifest?v=GvbMwwzKnW">
<link rel="mask-icon" href="assets/images/safari-pinned-tab.svg?v=GvbMwwzKnW" color="#5bbad5">
<link rel="shortcut icon" href="assets/images/favicon.ico?v=GvbMwwzKnW">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">


<!-- end custom head snippets -->
