.vscode/settings.json
.obsidian/*
docs/.obsidian
docs/.vscode
docs/.gitignore
docs/.git
docs/.obsidian/*

# ignore python
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
